{% extends "FactelBundle::Layout.html.twig" %}
{% block content %}
                            {% for flashMessage in app.session.flashbag.get('notice') %}
<div class="col-sm-12 alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><strong>Ha ocurrido un error!</strong></h4>
    <p>{{ flashMessage }}</p>
</div>

 {% endfor %}
{% if is_granted('ROLE_EMISOR') %}
<div class="row">
    <div class="col-lg-3 col-md-6">
        <a href="#">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="icon-untitled-14 fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{registrados}}</div>
                            <div>REGISTRADOS</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6">
        <a href="#">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="icon-check fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{autorizados}}</div>
                            <div>AUTORIZADOS</div>
                        </div>
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6">
        <a href="#">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="icon-spin4 fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{procesandose}}</div>
                            <div>PROCESADOS</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6">
        <a href="#">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="icon-attention fa-5x"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{noAutorizados}}</div>
                            <div>NO AUTORIZADOS</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
   
    <div class="col-md-12">
        <canvas id="bar-chart" height="75"></canvas>
    </div>
</div>
<!-- /.row -->
</div>
{% endif %}
{% endblock %}

{% block javascript %}
{% if is_granted('ROLE_EMISOR') %}
<script src="{{asset('recursos/js/Chart.min.js')}}"></script>
<script>
   
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: ["1", "2", "3", "4", "5","6", "7", "8", "9", "10","11", "12", "13", "14", "15","16", "17", "18", "19", "20","21", "22", "23", "24", "25","26", "27", "28", "29", "30","31"],
            datasets: [
                {
                    label: "Ventas del Dia",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850","#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850","#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850","#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850","#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850","#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850","#c45850"],
                    data: [{{ventaXDiaTotal}}]
                }
            ]
        },
        options: {
            legend: {display: false},
            title: {
                display: true,
                text: 'VENTAS POR DÍA'
            }
        }
    });
</script>
{% endif %}
{% endblock %}
